<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Karta Mieszkańca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="@Url.Action("Index")">
                <img src="~/cards/banner-1.png" alt="Logo" />
            </a>

            <!-- Licznik kart (Ostatnio użyty numer karty) -->
            @if (ViewBag.LastUsedCardNumber != null)
            {
                <div class="card-counter">
                    Ostatnio użyty numer karty: @ViewBag.LastUsedCardNumber
                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Karta Mieszkańca</p>
        </footer>
    </div>

    <!-- Bezpośrednie odwołania do plików skryptów -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
